@require '~config';
@require '~reset-css'
@require '../resources/fonts/fonts.styl';

:global {
	* {
		box-sizing: border-box;
	}
	
	html,
	body {
		font-size: 12px;
	}
	
	body {
		color: $main-text-color;
		background: $app-bg-color;
		font-family: 'Roboto', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}

.container {
	padding: 20px;
	background-color: inherit;
}